<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>커스텀 차트</title>
</head>
<body>
    <h1>커스텀 차트</h1>
    <ul>
        {{#customChart}}
            <li>{{rank}}. {{trackName}} - {{artistName}}</li>
        {{/customChart}}
    </ul>
</body>
</html>
